
* {
    margin: 0;
}

.layout {
    display: flex;
}

.sidebar {
    height: 100vh;              
    width: 70px;                
    background-color: rgb(44, 44, 44); 
    transition: 0.5s;           
    overflow: hidden;           /* Esconde o texto quando a sidebar estiver fechada */

    display: flex;              /* Ativa o Flexbox */
    flex-direction: column;     /* Organiza os itens um embaixo do outro */
    padding-top: 20px;          /* Espaço no topo */
}


.sidebar:hover {
    width: 40vh;              
}


.icon {
    display: flex;              /* Coloca ícone e texto lado a lado */
    align-items: center;        /* Alinha verticalmente no centro */
    gap: 1rem;                  /* Espaço entre ícone e texto */
    padding: 0.8rem;              /* Espaçamento interno */
    cursor: pointer;            /* Muda o cursor para "mãozinha" */
    color: white;               
}


.icon:hover {
    background-color: rgba(255,255,255,0.1); 
    border-radius: 1.5rem;
    
}


.icon-img {
    width: 1.3rem;                /* Largura do ícone */
    height: 1.3rem;               /* Altura do ícone */
}

/* Texto começa invisível */
.text {
    opacity: 0;                 
    white-space: nowrap;        /* Impede quebra de linha */
    transition: 0.3s;           
     font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}


.sidebar:hover .text {
    opacity: 1;                 /* Torna o texto visível */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;

}

.page {
    height: 100vh;
    width: 100vw;
    background-color: rgb(26, 26, 26); 
    flex-direction: column;
    display: flex;
}

.story {

    display: flex;
    flex-direction: column;   /* imagem em cima, nome embaixo */
    align-items: center;      /* centraliza o nome */

}

.storys {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    

}

.img-storys {
    border-radius: 50%;
    width: 3rem;
    margin: 0.5rem 0.5rem 0.2rem 0.5rem;


  /* Define duas camadas de fundo */
background-image:
    linear-gradient(white, white),   /* Camada 1: fundo branco sólido */
    linear-gradient(45deg, #9c005b, #cc0526, rgb(235,231,4), rgb(181,0,253));
    /* Camada 2: gradient colorido (que vai virar a "borda") */

/* Define de onde cada background começa a ser desenhado */
background-origin: border-box;
/* Faz o background considerar a área incluindo a borda */

/* Controla onde cada camada pode aparecer */
background-clip: content-box, border-box;

/*
Primeira camada (white, white) → fica só na área do conteúdo
Segunda camada (gradient) → ocupa até a borda
Isso cria o efeito de borda colorida
*/

/* Faz a imagem manter proporção sem distorcer */
object-fit: cover;

/* Cria a espessura da borda */
border: 0.2rem solid transparent;
/*
A borda é transparente, mas ocupa espaço.
Como o gradient está no border-box,
ele aparece nesse espaço transparente.
*/

}

.name-storys {
    font-size: 0.75rem;
    margin-top: 0;
    color: white;
    
}