
* {
    margin: 0;
}

.layout {
    display: flex;
}

.sidebar {
    height: 100vh;              
    width: 70px;                
    background-color: rgb(44, 44, 44); 
    transition: 0.5s;           
    overflow: hidden;           /* Esconde o texto quando a sidebar estiver fechada */

    display: flex;              /* Ativa o Flexbox */
    flex-direction: column;     /* Organiza os itens um embaixo do outro */
    padding-top: 20px;          /* Espaço no topo */
}


.sidebar:hover {
    width: 40vh;              
}


.icon {
    display: flex;              /* Coloca ícone e texto lado a lado */
    align-items: center;        /* Alinha verticalmente no centro */
    gap: 1rem;                  /* Espaço entre ícone e texto */
    padding: 0.8rem;              /* Espaçamento interno */
    cursor: pointer;            /* Muda o cursor para "mãozinha" */
    color: white;               
}


.icon:hover {
    background-color: rgba(255,255,255,0.1); 
    border-radius: 1.5rem;
    
}


.icon-img {
    width: 1.3rem;                /* Largura do ícone */
    height: 1.3rem;               /* Altura do ícone */
}

/* Texto começa invisível */
.text {
    opacity: 0;                 
    white-space: nowrap;        /* Impede quebra de linha */
    transition: 0.3s;           
     font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}


.sidebar:hover .text {
    opacity: 1;                 /* Torna o texto visível */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;

}

.page {
    height: 100vh;
    width: 100vh;
    background-color: rgb(26, 26, 26); 
    flex: 1;
    flex-direction: row;
}

.storys {
    display: flex;
    flex-direction: row;
    border-image: 50%;
}