
body {
    margin: 0;
    background-color: rgb(22, 22, 22);


}

.layout {
    display: flex;
    
}

.sidebar {
    height: 100vh;              
    width: 7rem;                
    background-color: rgb(20, 20, 20);
    transition: 0.5s;           
    overflow: hidden;           /* Esconde o texto quando a sidebar estiver fechada */

    display: flex;              /* Ativa o Flexbox */
    flex-direction: column;     /* Organiza os itens um embaixo do outro */
    padding-top: 20px;          /* Espaço no topo */
    position: fixed;
}


.sidebar:hover {
    width: 20vh;              
}


.icon {
    display: flex;              /* Coloca ícone e texto lado a lado */
    align-items: center;        /* Alinha verticalmente no centro */
    gap: 1rem;                  /* Espaço entre ícone e texto */
    padding: 1rem;              /* Espaçamento interno */
    cursor: pointer;            
    color: white;          
    margin-left: 1rem;     
}


.icon:hover {
    background-color: rgba(255,255,255,0.1); 
    border-radius: 1.5rem;

    
}


.icon-img {
    width: 1.5rem;                /* Largura do ícone */
    height: 1.5rem;               /* Altura do ícone */
}

/* Texto começa invisível */
.text {
    opacity: 0;                 
    white-space: nowrap;        /* Impede quebra de linha */
    transition: 0.3s;           
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}


.sidebar:hover .text {
    opacity: 1;                 /* Torna o texto visível */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;

}

.page {
    
    flex-direction: column;
    display: flex;
    align-items: center;        
    padding-top: 2rem;
    
}

.story {

    display: flex;
    flex-direction: column;   /* imagem em cima, nome embaixo */
    align-items: center;      /* centraliza o nome */
    

}

.storys {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    justify-content: center;
    width: 100%;
    margin-left: 25rem;
    

}

.img-storys {
    border-radius: 50%;
    width: 4.5rem;             
    margin: 0.5rem 0.5rem 0.2rem 0.1rem;


  /* Define duas camadas de fundo */
background-image:
    linear-gradient(white, white),   /* Camada 1: fundo branco sólido */
    linear-gradient(45deg, #9c005b, #cc0526, rgb(235,231,4), rgb(181,0,253));
    /* Camada 2: gradient colorido (que vai virar a "borda") */

/* Define de onde cada background começa a ser desenhado */
background-origin: border-box;
/* Faz o background considerar a área incluindo a borda */

/* Controla onde cada camada pode aparecer */
background-clip: content-box, border-box;

/*
Primeira camada (white, white) → fica só na área do conteúdo
Segunda camada (gradient) → ocupa até a borda
Isso cria o efeito de borda colorida
*/

/* Faz a imagem manter proporção sem distorcer */
object-fit: cover;

/* Cria a espessura da borda */
border: 0.2rem solid transparent;
/*
A borda é transparente, mas ocupa espaço.
Como o gradient está no border-box,
ele aparece nesse espaço transparente.
*/

}

.name-storys {
    font-size: 0.9rem;
    margin-top: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.post {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.post-img {
    width: 30rem;
    height: 35rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    margin-left: 50%;
}



.perfil-post {
    width: 2rem;
    border-radius: 50%;
    margin-left: 50%;
}

.publi {
    display: flex;
    align-items: center;
    gap: 1rem;
} 

.name-publi {
    margin-top: 0;
    color: aliceblue;
    font-size: 1rem;
    white-space: nowrap; /* deixar na mesma linha*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.loc-publi {
    color: aliceblue;
    margin-left: 60%;
    font-size: 0.8rem;
}

.curtidas {
    width: 2rem;
    margin-left: 60%;
    margin-top: 1rem;
}


.curtidinhas {
    display: flex;
    align-items: center;

}

.numero-curtidas {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    margin-left: 0.5rem;
    align-items: center;
    margin-top: 1rem;
    white-space: nowrap;
    
}

.comentarios {
    width: 2rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
    white-space: nowrap;
}



.post-video {
    width: 30rem;
    border-radius: 3rem;
    margin-left: 25%;
    margin-top: 1rem;
    object-fit: cover;
    height: 35rem;
    margin-left: 50%;
}

.direct {
    background-color: aliceblue;
    padding: 4rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    
}